body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header h1{
  font-weight: 600;
  margin: 0;
  color: #E8DFE0;
}


.jumbotron {
  background-color: #FC4A1A;
}

.jumbotron h2{
  font-weight: 100;
  font-size: 60px;
  margin: 0;
  color: #FFF;
}
